{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'public_user/css/index.css' %}">


{% endblock %}
{% block  content %}
    <div class="col-12 mt-1"></div>
    {% comment %} how it works {% endcomment %}

    <div class="container">

        <div class="row">
            <div class="col-md-4 list-group-item bg-info text-light freelancer_nav" data-div="client">
                your client
            </div>

            <div class="col-md-4 list-group-item bg-info text-light freelancer_nav" data-div="job">
                job progress
            </div>


            <div class="col-md-4 list-group-item bg-info text-light freelancer_nav" data-div="freelancer">
                your details
            </div>
            {% comment %} current client details {% endcomment %}
            <div class="col-md-8 offset-md-2 details  mt-3" id="client">
                {% if appointment %}

                    <form action="{% url 'edit_appointment' appointment.id %}" method="POST" id="edit_appointment">

                        <p><span class="font-weight-bold text-info">Project ID:</span> {{ appointment.project_number }}
                        </p>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label for="name" class="font-weight-bold text-info">Name</label>
                                <strong>{{ appointment.name }}</strong>
                                <input data-cy="name" type="text" name="name" id="name" required hidden readonly
                                       class="form-control form-control-sm" autofocus
                                       value=" {{ appointment.name }}"> <br>
                                <label for="email" class="font-weight-bold text-info">Email</label>
                                <strong>{{ appointment.email }}</strong>
                                <input type="email" name="email" id="email" hidden readonly required
                                       class="form-control  form-control-sm"
                                       value=" {{ appointment.email }}">
                                <br>
                                <label for="phone_num" class="font-weight-bold text-info">Phone number</label>
                                <strong>{{ appointment.phone_num }}</strong>

                                <input type="text" name="phone_num" id="phone_num" hidden readonly required
                                       class="form-control form-control-sm"
                                       value="{{ appointment.phone_num }}">

                                <input title="" type="checkbox" name="done" id="appointment_done" hidden
                                       value=" {{ appointment.done }}">

                                   <input title="" type="checkbox" name="paid_for" hidden
                                   id="paid_for" checked
                                    >
                                <br>
                                <label for="time_slot" class="font-weight-bold text-info">Best time to contact :</label>
                                <strong>{{ appointment.time_slot }}</strong>
                                <select name="time_slot" id="time_slot" required hidden
                                        class="form-control  form-control-sm">
                                    {% if appointment.time_slot == "8 am - 12 pm" %}
                                        <option value="8 am - 12 am" selected>8 am - 12 am</option>
                                        <option value="12 am - 4 pm">12 pm - 4 pm</option>
                                        <option value="4 pm - 8 pm">4 pm - 8 pm</option>
                                    {% elif  appointment.time_slot == "12 pm - 4 pm" %}
                                        <option value="8 am - 12 pm">8 am - 12 pm</option>
                                        <option value="12 pm - 4 pm" selected>12 am - 4 pm</option>
                                        <option value="4 pm - 8 pm">4 pm - 8 pm</option>
                                    {% else %}
                                        <option value="8 am - 12 pm">8 am - 12 pm</option>
                                        <option value="12 pm - 4 pm">12 pm - 4 pm</option>
                                        <option value="4 pm - 8 pm" selected>4 pm - 8 pm</option>
                                    {% endif %}

                                </select>
                                <br>
                                <label for="site_type" class="font-weight-bold text-info">Site type</label>
                                <strong>{{ appointment.site_type }}</strong>
                                <select data-cy="site_type" name="site_type" id="site_type" hidden required
                                        class="form-control  form-control-sm">


                                    {% if appointment.site_type == "blog" %}
                                        {% comment %} blog {% endcomment %}
                                        <option value="blog" selected>blog</option>
                                        <option value="website">website</option>
                                        <option value="online_store">online store</option>
                                        <option value="something_else">something else</option>
                                    {% elif  appointment.site_type == "website" %}
                                        {% comment %} website {% endcomment %}
                                        <option value="blog">blog</option>
                                        <option value="website" selected>website</option>
                                        <option value="online_store">online store</option>
                                        <option value="something_else">something else</option>
                                    {% elif   appointment.site_type == "online store" %}
                                        {% comment %} online store {% endcomment %}
                                        <option value="blog">blog</option>
                                        <option value="website">website</option>
                                        <option value="online_store" selected>online store</option>
                                        <option value="something_else">something else</option>
                                    {% else %}
                                        {% comment %} something else {% endcomment %}
                                        <option value="blog">blog</option>
                                        <option value="website">website</option>
                                        <option value="online_store">online store</option>
                                        <option value="something_else" selected>something else</option>
                                    {% endif %}
                                </select>

                            </div>
                            <div class="col-md-6">
                                <label for="project" class="font-weight-bold text-info">Client's Project Idea</label>
                                <small class="text-danger">Can change</small> <br>
                                <strong>{{ appointment.project }}</strong>

                                <textarea data-cy="project" name="project" id="project" readonly hidden
                                          maxlength="500"
                                          cols="30" rows="10"
                                          class="form-control  form-control-sm">{{ appointment.project }}</textarea>

                            </div>
                        </div>


                        <hr>
                        <label for="notes" class="font-weight-bold text-info">Your Notes <br>
                            <small class="text-danger">Customer can see your notes and respond</small>
                            <small class="text-dark">through</small> Client's Project Idea &uArr;</label>
                        <textarea data-cy="notes" name="notes" id="notes"
                                  maxlength="500"
                                  cols="30" rows="10"
                                  class="form-control  form-control-sm">{{ appointment.notes }}</textarea>
                        <hr>
                        {% comment %} button to update consultation{% endcomment %}
                        <input data-cy="update_appointment" type="submit" value="update notes"
                               class="form-control bg-info text-light">
                        <br>


                    </form>
                {% else %}
                    <p class="text-center font-weight-bold text-info">No client at the moment...</p>
                {% endif %}
            </div>
            {% comment %} current project progress {% endcomment %}
            <div class="col-md-8 offset-md-2 details d-none  mt-3" id="job">

                {% if project %}
                    <form action="{% url 'edit_project' project.project_number %}" method="POST" id="project">
                        {% csrf_token %}
                        <input type="text" name="project_number" id="project_number"
                               value="{{ project.project_number }}" class="form-control" hidden>
                        <ul class="list-group">
                            <li class="list-group-item bottom_border">

                                <input type="checkbox" name="started" id="started"
                                        {% if project.started %}{{ 'checked' }}{% endif %} >
                                <label for="started">Project work started</label>
                            </li>
                            <li class="list-group-item bottom_border">
                                <input type="checkbox" name="wireframes" id="wireframes"
                                        {% if project.wireframes %}{{ 'checked' }}{% endif %} >
                                <label for="wireframes">Wireframes sent to customer</label>
                            </li>
                            <li class="list-group-item bottom_border">
                                <input type="checkbox" name="update_after_wireframes" id="update_after_wireframes"
                                        {% if project.update_after_wireframes %}{{ 'checked' }}{% endif %} >
                                <label for="update_after_wireframes">Updated after wireframes</label>
                            </li>
                            <li class="list-group-item bottom_border">
                                <input type="checkbox" name="started_on_site" id="started_on_site"
                                        {% if project.started_on_site %}{{ 'checked' }}{% endif %} >
                                <label for="started_on_site">Started to work on the site</label>
                            </li>
                            <li class="list-group-item bottom_border">
                                <input type="checkbox" name="development_link_sent" id="development_link_sent"
                                        {% if project.development_link_sent %}{{ 'checked' }}{% endif %} >
                                <label for="development_link_sent">Development link sent to customer</label>
                            </li>
                            <li class="list-group-item bottom_border">
                                <label for="development_link">Development link</label>
                                <input type="text" name="development_link" id="development_link"
                                       value="{{ project.development_link }}" class="form-control">

                            </li>
                            <li class="list-group-item bottom_border">
                                <input type="checkbox" name="client_approved" id="client_approved"
                                        {% if project.client_approved %}{{ 'checked' }}{% endif %} >
                                <label for="client_approved">Customer approved site</label>
                            </li>
                            <li class="list-group-item bottom_border">
                                <input type="checkbox" name="domain_hosting" id="domain_hosting"
                                        {% if project.domain_hosting %}{{ 'checked' }}{% endif %} >
                                <label for="domain_hosting">Domain transfered and hosting done</label>
                            </li>
                            <li class="list-group-item bottom_border">
                                <input type="checkbox" name="done" id="done"
                                        {% if project.done %}{{ 'checked' }}{% endif %} >

                                <label for="done">Customer happy</label>
                            </li>
                        </ul>

                        <input type="submit" class="form-control bg-info text-light" value="update project">
                    </form>
                {% endif %}

            </div>
            {% comment %}form to update freelancers details{% endcomment %}
            <div class="col-md-8 offset-md-2 details d-none  mt-3" id="freelancer">
                <form action="{% url 'update_freelancer' freelancer.id %}" method="POST"
                      id="update_freelancer">
                    {% csrf_token %}
                    <label for="f_name">Your name</label>
                    <input data-cy="name" type="text" name="name" id="f_name" required
                           class="form-control border border-info" readonly
                           value="{{ form.name.value }}"
                           autofocus>

                    <label for="f_email">Your email</label>
                    <input data-cy="email" type="email" name="email" id="f_email" required
                           class="form-control border border-info" readonly
                           value="{{ form.email.value }}">
                    <label for="phone_num">Your phone</label>
                    <input data-cy="phone_num" type="text" name="phone_num" id="phone_num" required
                           class="form-control border border-info"
                           value="{{ form.phone_num.value }}">

                    <input title="" data-cy="password" type="password" name="password" id="f_password"
                           class="form-control border border-info" hidden value="pass"
                           required>
                    <label for="skills">Your skills</label>
                    <input data-cy="phone_num" type="text" name="skills" id="skills"

                           required class="form-control border border-info"
                           value="{{ form.skills.value }}">


                    <hr>

                    <label for="portfolio_link">Portfolio link</label>
                    <input data-cy="portfolio_link" type="text" name="portfolio_link" id="portfolio_link"

                           required class="form-control border border-info"
                           value="{{ form.portfolio_link.value }}">


                    <hr>


                    <label for="about">What are you good at</label>
                    {% comment %} description of freelancer {% endcomment %}
                    <textarea data-cy="about" name="about" id="about" required
                              maxlength="500"
                              cols="30" rows="10"
                              class="form-control border border-info">{{ form.about.value }}</textarea>
                    <hr>
                    <input data-cy="submit" type="submit" value="update your info"
                           class="form-control border border-info bg-info text-light">


                </form>

            </div>

        </div>
        <div class="col-lg-12 my-5">
            <h5 class="text-center"><small>Marcel Kolarcik</small></h5>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/marcel-kolarcik-81184a19b">LinkedIn</a>&nbsp;|&nbsp;
                <a href="https://github.com/marcelkolarcik">Github</a>&nbsp;|&nbsp;
                <a href="https://www.globtopus.com/user/5f621ae0a5a2db5b43a66392">Globtopus</a>
            </div>
        </div>
    </div>

{% endblock %}
{% block postloadjs %}
    <script>
        $('.freelancer_nav').on('click', function () {
            $('.details').addClass('d-none')
            $('#' + $(this).data('div'))
                .removeClass('d-none')
        })
    </script>
{% endblock %}