.list-group-item {
    font-weight: 500;
}

.benefit {
    font-weight: 300;
    color: #666;
}

.included {
    font-weight: 800;
    font-size: 1.4rem;
}

@media screen and ( max-width: 767px ) {
    .index h1 {
        font-size: 2rem;
    }

    .index p {
        font-size: 0.9rem;
    }
}