{% extends 'base.html' %}
{% load static %}
{% block  content %}
    {% comment %}CHECKOUT SUCCESS PAGE
CUSTOMER WILL GET CONFIRMATION EMAIL{% endcomment %}
    <div class="col-12 mt-5"></div>
    <div class="container">
        <div class="row index">
            <div class="card col-lg-12 border-0">
                <div class="card-header bg-transparent border-0">
                    <h1 class="font-weight-bold display-3  text-info">thank you</h1>
                </div>
                <div class="card-body border-secondary border">
                    <p> Thank you {{ order.name }}. A confirmation email will be sent to {{ order.email }}.
                        Your order id is {{ order.id }}.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
