{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
    <link
            crossorigin="anonymous"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
            integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc="
            rel="stylesheet"
    />
{% endblock %}
{% block  content %}



{% comment %} checkout form {% endcomment %}
    <div class="col-12 mt-5"></div>
    <div class="container">
        <div class="row index">

            <div class="card col-lg-12 border-0">



            <div class="card-header bg-transparent border-0">
                    <h1 class="font-weight-bold display-3  text-info">checkout :
                        {% if type == 'online_store' %}
                            online store
                        {% else %}
                            {{ type }}
                        {% endif %}</h1>
                    <h4 class="font-weight-bold text-info">Thank you very much! <br>
                        <small class="text-dark"> Please note, that you will need your Project ID from our first consultation. <br>
                            No Project ID ? No problem !</small>
                        <br>
                         <a href="{% url 'appointments' %}"
                           class="consultation lead  btn  btn-outline-info float-left  mt-2">Book Free Initial
                            Consultation</a>
                    </h4>


                </div>
              <hr>


                <div class="card-body border-secondary border">

                    <h3 class="font-weight-bold text-info float-right">
                        <span id="total">
                       {{ grand_total }}</span>&euro;</h3>
                </div>
            </div>

            <div class="card col-lg-12 border-0">

                <div class="card-body border-0">
                    <p class="my-3"></p>
                    <div class="row">


                        <div class="col-md-7 offset-md-5" id="payment_details">
                            {% comment %}CHECKOUT FORM{% endcomment %}
                            <form action="{% url 'checkout' type %}" method="POST" id="payment-form">
                                {% csrf_token %}

                                <label for="product_type" class="sr-only">Product type</label>
                                <input type="text" hidden value="{{ type }}" name="product_type" id="product_type">

                                <h1 class="font-weight-bold display-5  text-info">payment details</h1>

                             <label for="project_number">Project ID <br>
                             <strong class="text-danger"><small>You can find it in your dashboard</small></strong>
                             </label>
                                <input type="text" name="project_number" id="project_number" required

                                       class="form-control border border-info"
                                       value="{{ order_form.project_number.value }}"
                                >

                                <label for="name">Your name</label>
                                <input type="text" name="name" id="name" required
                                       {% if  request.user.is_authenticated %}readonly{% endif %}
                                       class="form-control border border-info"
                                       value="{% if request.user.is_authenticated %}{{ user }}
                                       {% elif order_form.name.value is not None %}{{ order_form.name.value }}
                                                 {% endif %}"
                                >

                                <label for="email">Your email</label>
                                <input type="email" name="email" id="email" required
                                       {% if  request.user.is_authenticated %}readonly{% endif %}
                                       class="form-control border border-info"
                                       value="
                                            {% if request.user.email %}
                                                {{ request.user.email }}

                                           {% elif order_form.email.value is not None %}{{ order_form.email.value }}
                                             {% endif %}">
                                {% if type == 'consultation' %}
                                    {% comment %}IF CLIENT IS PURCHASING EXTRA CONSULTATION
                                    WE WILL NEED EXTRA FIELDS FOR CONSULTATION, SO THAT WE
                                    CAN CREATE NEW CONSULTATION IN THE DATABASE, AS WELL AS NEW ORDER{% endcomment %}
                                    <label for="phone_num">Your phone number</label>
                                    <input data-cy="phone_num" type="text" name="phone_num" id="phone_num" required
                                           class="form-control border border-info"
                                           value="{{ form.phone_num.value }}">


                                    <label for="time_slot">Best time to contact you</label>
                                    {% comment %} best time to contact {% endcomment %}
                                    <select data-cy="time_slot" name="time_slot" id="time_slot"
                                            class="form-control border border-info"
                                            required>
                                        <option value="">please select time</option>
                                        <option value="1">8 am - 12 pm</option>
                                        <option value="2">12 pm - 4 pm</option>
                                        <option value="3">4 pm - 8 pm</option>
                                    </select>
                                    <hr>

                                    <label for="site_type">Site type you are interested</label>
                                    {% comment %} type of site  {% endcomment %}
                                    <select data-cy="site_type" name="site_type" id="site_type"
                                            class="form-control border border-info"
                                            required>
                                        <option value="">please select site type</option>
                                        <option value="1">blog</option>
                                        <option value="2">website</option>
                                        <option value="3">online store</option>
                                        <option value="4">something else</option>
                                    </select>
                                    <hr>
                                    <label for="project">Describe your project ( max 500 characters )</label>
                                    {% comment %} description of the project {% endcomment %}
                                    <textarea data-cy="project" name="project" id="project" required
                                              maxlength="500"
                                              cols="30" rows="10"
                                          class="form-control border border-info">{{ form.project.value }}</textarea>
                                {% endif %}

                                <label for="street1">Street address 1</label>
                                <input type="text" name="street1" id="street1" required
                                       class="form-control border border-info"
                                       value="{{ order_form.street1.value }}">

                                <label for="city">City</label>
                                <input type="text" name="city" id="city" required
                                       class="form-control border border-info"
                                       value="{{ order_form.city.value }}">

                                <label for="post_code">Post code</label>
                                <input type="text" name="post_code" id="post_code" required
                                       class="form-control border border-info"
                                       value="{{ order_form.post_code.value }}">

                                <label for="country">Country</label>
                                <input type="text" name="country" id="country" required
                                       class="form-control border border-info"
                                       value="{{ order_form.country.value }}">


                                <span class="___ muted">Credit card</span>
                                <!-- A Stripe card element will go here -->
                                <div class="mb-3 border border-info " id="card-element"></div>
                                <!-- Used to display form errors -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                <!-- Pass the client secret to the view so we can get the payment intent id -->
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                                <div class="text-center">
                                    <button id="submit-button" class="btn bg-info text-light rounded-0"
                                            name="submit_button">
                                        <span class="font-weight-bold">Complete Order</span>
                                        <span class="icon">
                                                <i class="fas fa-lock"></i> </span>
                                    </button>
                                    <p class="small text-danger mt-1">
                                                <span class="icon">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                </span>
                                        <span class=""
                                        >Your card will be charged </span><strong>{{ grand_total }}
                                        EUR</strong>
                                    </p>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>


            </div>


            <div class="col-12 mt-5"></div>
        </div>

    </div>

    <div id="loading-overlay">
        <span class="display-1 text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </span>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}