{% extends 'base.html' %}
{% load static %}
 {% block extra_css %}
 <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
      <link
            crossorigin="anonymous"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
            integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc="
            rel="stylesheet"
    />
    {% endblock %}
{% block  content %}




    <div class="col-12 mt-5"></div>
    <div class="container">
        <div class="row index">

            <div class="card col-lg-12 border-0">

                <div class="card-header bg-transparent border-0">
                    <h1 class="font-weight-bold display-3  text-info">checkout : {{ type }}</h1>
                </div>
                <div class="card-body border-secondary border">
                    <h3 class="font-weight-bold text-info float-right">
                        <span id="total">
                        {% if type == 'blog' %}
                            299
                        {% elif type == 'website' %}
                            999
                        {% else %}
                            1 999
                        {% endif %}</span>


                        &euro;</h3>
                </div>
            </div>


            {% comment %}extras{% endcomment %}
            <div class="card col-lg-12 border-0">


                <div class="card-header bg-transparent border-0">

                </div>
                <div class="card-body border-0">
                    <p class="my-3"></p>
                    <div class="row">
                        <div class="col-md-6 ">
                            <h1 class="font-weight-bold display-5  text-info">add extras:</h1>
                            <ul class="list-group">
                                <li class="list-group-item bottom_border">
                                    Privacy Policy, Cookie Policy, Terms of use
                                    <span class="float-right">
                                    <span class="text-info">99 &euro;</span>
                                <input title="policies" type="checkbox" name="policies" id="policies">

                                </span>

                                </li>
                                {% if type == 'website' %}
                                    <li class="list-group-item bottom_border">
                                        Extra pages
                                        <span id="extra_pages" class="text-success">0</span>
                                        <span class="float-right">
                                            <span class="text-info">99 &euro; / page</span>
                                        </span>
                                        <input title="extra pages" type="range" id="more_pages" value="0" name="vol"
                                               min="0" max="10">
                                        <span id="extra_pages_cost"> 0</span>&euro;
                                    </li>


                                {% endif %}
                                <li class="list-group-item bottom_border">
                                    Web-hosting ( We can advise you on several options, where to host your blog )

                                </li>

                                <li class="list-group-item bottom_border">
                                <span class="float-right">
                                     Grand total : <span id="grand_total"> {% if type == 'blog' %}
                                    299
                                {% elif type == 'website' %}
                                    699
                                {% else %}
                                    1299
                                {% endif %}</span> &euro;
                                </span>


                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6" id="payment_details">
                            <form action="{% url 'checkout' type %}" method="POST" id="payment-form">
                                  {% csrf_token %}
                                <h1 class="font-weight-bold display-5  text-info">payment details</h1>
                                <label for="name">Your name</label>
                                <input type="text" name="name" id="name" required class="form-control border border-info"
                                       value="{{ form.name.value }}" autofocus>
                                <hr>
                                <label for="email">Your email</label>
                                <input type="email" name="email" id="email" required class="form-control border border-info"
                                       value="{{ form.email.value }}">


                                <label class="___ muted" for="credit_card" >Credit card</label>
                                <!-- A Stripe card element will go here -->
                                <div class="mb-3 border border-info " id="card-element"></div>
                                <!-- Used to display form errors -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                <!-- Pass the client secret to the view so we can get the payment intent id -->
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                                <div class="text-center">
                                    <button id="submit-button" class="btn bg-info text-light rounded-0"
                                            name="submit_button">
                                        <span class="font-weight-bold">Complete Order</span>
                                        <span class="icon">
                                                <i class="fas fa-lock"></i> </span>
                                    </button>
                                    <p class="small text-danger mt-1">
                                                <span class="icon">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                </span>
                                        <span class=""
                                        >Your card will be charged </span><strong>{{ grand_total }}
                                        EUR</strong>
                                    </p>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>


            </div>


            <div class="col-12 mt-5"></div>
        </div>

    </div>

<div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

    <script src="{% static 'checkout/js/checkout.js' %}"></script>

{% endblock %}