
.bg_blue{
    background-color: lightgray;
}
a.lead{
    color:#17a2b8;
}
a.lead:hover{
    color: whitesmoke;
}

/*DIFFERENT SIZES ON DIFFERENT SCREENS*/
@media screen and ( max-width: 1200px ) {

}

@media screen and ( max-width: 990px ) {

}

@media screen and ( max-width: 767px ) {
   .index h1 {
    font-size: 2rem;
}
    .index p {
        font-size: 0.9rem;
    }
}

/*SMALLER SIZES FOR PROGRESS STEPS */
@media screen and ( max-width: 540px ) {


}